@font-face {
  font-family: "iconfont"; /* Project id 3292085 */
  src: url('iconfont.woff2?t=1648695127707') format('woff2'),
       url('iconfont.woff?t=1648695127707') format('woff'),
       url('iconfont.ttf?t=1648695127707') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-dakai1x:before {
  content: "\e606";
}

.icon-a-chuangyi1x:before {
  content: "\e607";
}

.icon-a-gengduo1x:before {
  content: "\e608";
}

.icon-a-guanli1x:before {
  content: "\e609";
}

